@charset "UTF-8";

/* 共通部分
----------------*/
html {
    font-size: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.7;
    color: #333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER
----------------*/
header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}

.with-grit-logo {
    width: 110px;
    margin-top: 15px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    font-weight: regular;
    margin-top: 50px;
    list-style: none;
}

.sns-button {
    display: flex;
    margin-top: 50px;
    width: 150px;
}

.sns-button a {
    margin-left: 25px;
    width: 40px;
}

.sns-button a:hover {
    opacity: 0.5;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #333;
}

.main-nav a:hover {
    opacity: 0.5;
}

.sign-in-button {
    width: 250px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.button {
    display: block;
    width: 185px;
    min-height: 60px;
    padding-top: 10px;
    font-size: 1.7rem;
    background: #333;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    opacity: 0.9;
}

.wrapper {
    max-width: 3000px;
    margin: 0 auto;
    padding: 0 4%;
}


.header-wrapper {
    display: flex;
    justify-content: space-around;
}

/* Home */
#home {
    background-color: #C147E9;
    padding-bottom: 20px;
}

form {
    display: flex;
}

input[type="email"],
input[type="submit"] {
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
}

input[type="email"] {
    background-color: #fff;
    width: 120%;
    max-width: 240px;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

/*フッター
---------------------- */
footer {
    background: #333;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.mont {
    font-family: 'Montserrat Alternates', sans-serif;
}

.pink {
    color: #C147E9;
}